:root {
  --main:rgba(64, 144, 254, 0.9);
  
}
.bg-main{
  background-color: var(--main) !important;
}

.bg-main{
  background-color: rgb(80, 80, 80);
}

.bg-main{
  background-color: rgb(80, 80, 80) !important;
}
a{
  text-decoration: none;
}
a:hover{
  color: var(--main) !important;
}
.cr-main{
  color: var(--main) !important;
}
html {
  scroll-padding-top: calc(4.5rem - 1px);
}

body {
  letter-spacing: 0.0625em;
}
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
#mainNav {
  min-height: 3.5rem;
  background-color: gray;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  background: linear-gradient(rgba(8, 111, 255, 0.9), rgb(97, 164, 143));
  /*color: #C13D2E;*/
  border: 1px solid #C13D2E;
}
#mainNav .navbar-toggler:focus {
  outline: none;
}
#mainNav .navbar-brand {
  color: #000;
  font-weight: 700;
  padding: 0.9rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
  color: fade(gray, 80%);
  outline: none;
  background-color: transparent;
}

.navbar-nav{
  font-size: 20px;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgb(255, 255, 255);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: dotted;
  }
  #mainNav .nav-link:hover {
    color: rgb(80, 80, 80);
  }
  #mainNav .nav-link:active {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    background-color: rgb(80, 80, 80);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: rgb(255, 255, 255);
  }
  #mainNav.navbar-shrink .nav-link {
    color: rgb(255, 255, 255);
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: var(--main);
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: var(--main);
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: var(--main);
    outline: none;
    border-bottom: 0.25rem solid var(--main);
  }
}

.btn {
  background: linear-gradient(rgba(8, 111, 255, 0.9), rgb(106, 173, 152));
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 3rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
  margin-top: 14rem;
}

a.btn:hover {
  color: black !important;
  text-decoration-color: #000 !important;
  font-weight: bold;

}


.masthead h1, .masthead .h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(8, 111, 255, 0.9), rgb(158, 254, 224));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  
}
.masthead h2, .masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
  letter-spacing: 3px;
}
@media (min-width: 768px) {
  .masthead h1, .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1, .masthead .h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2, .masthead .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}
.bg-gray{
  background-color: rgb(0, 0, 0);
}
.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}
.about-section p {
  margin-bottom: 5rem;
}

.projects-section {
  padding: 10rem 0;
  background-color: rgb(80, 80, 80) !important;
}
.projects-section .featured-text {
  padding: 2rem;
}
@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid var(--main);
  }
}
.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}
@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: var(--main);
    border-width: 0.25rem;
    width: 30%;
  }
}
.contact-section {
  padding-top: 5rem;
}
.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid var(--main);
}

.card {
  background-color: rgb(80,80,80);
  color: white;
}

.card.body{
  color: white;
}
.contact-section .card h4, .contact-section .card .h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: var(--main);
  border-width: 0.25rem;
  width: 3rem;
}
.contact-section .social {
  margin-top: 5rem;
}
.contact-section .social a {
  padding-top: 24px;
  text-align: center;
  height: 80px;
  width: 80px;
  background: rgba(255, 255, 255, 0);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.contact-section .social a:active {
  color: gray;
}

.footer {
  padding: 5rem 0;
}

.bv{
  min-width: 100%;
  min-height:100%;
  height: 338px;
}

img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.navbar-collapse {
  flex-grow: 0.5;
}